$fond: #f2f2f2;
$primaire: #9356DC;
$secondaire: #FF79DA;
$green: #abd0bc;

%shadow {
    border-radius: 1.6em;
    box-shadow: 1px 4px 8px #ababab;
}





.prix {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@keyframes espace {
    from {
        width: 0em;
    }
    to {
        width: 3em;
    }
}
