@import "libs/config.scss";
@import "libs/menu.scss";
@import "libs/header-footer.scss";

// PROPRIETE GNERALES

body {
    background-color: $fond;
    font-family: $police-texte;
    margin: auto;
}


h3 {
    font-size: 1.5em;
}

.fa, .fas {
    margin-right: 1.4em;
    align-self: center;
}

a {
    color: black;
}

// HEADER

.localisation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: hsl(0deg 0% 90%);
}

// RESERVATION

.reservation {
    width: 80%;
    margin: 3em auto;
    text-align: center;
    p {
        font-weight: 100;
    }
}



.btn {
    width: fit-content;
    margin: 2em auto;
    background: linear-gradient(to bottom right,$secondaire, $primaire);
    padding: 0.1em 1em;
    @extend %shadow;
    p {
        color: white;
        font-weight: 400;
    }
}

a {
    text-decoration: none;
}

// FONCTIONNEMENT

.fonctionnement {
    background-color: white;
    padding: 1em;
}

.fonction {
    @extend %shadow;
    background-color: $fond;
    display: flex;
    padding: 0.9em 0em 0.9em 2em;
    width: 86%;
    margin: 1.5em auto;
    position: relative;

    &:hover {
    animation: fonction-color .5s;
    animation-fill-mode: forwards;
    }

    .cercle {
    background-color: $primaire;
    position: absolute;
    left: -11px;
    top: 30px;
    border-radius: 1em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    text-align: center;
    color: white;
    }
}

// RESTAURANTS

#restaurants {
    padding: 1em;
}

.resto {
    width: 100%;
    margin: 1em auto 2em;
    @extend %shadow;
    overflow: hidden;

    .resto-image {
        width: 100%;
        top: -32px;
        position: relative;
        margin-bottom: -1.5em;
    }
    img {
        width: 100%;
        height: 16em;
        object-fit: cover;
    }

    .description {
        margin: 0em 1em;
        position: relative;
        top: 13px;
        p {
            margin: 0.2em;
            font-weight: 100;
        }
    }
    i {
        position: relative;
        bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 1em;
        font-size: 1.4em;
    }

    .btn-new {
        position: absolute;
        background: $green;
        top: 4em;
        right: 1em;
        padding: 0.7em;   
        color: darken($green, 40);
        font-size: 0.8em;     
    }
}

// VERSION DESKTOP

@media screen and (min-width: 1024px){

.fonctionnement {
    display: flex;
    flex-wrap: wrap;
}

.fonction {
    width: 25%;
}

h3 {
    width: 100%;
}

#restaurants {
    display: flex;
    flex-wrap: wrap;
}

.resto {
    width: 45%;
}

}

// VERSION TABLETTE
@media screen and (min-width: 600px) and (max-width: 1023px){

    .fonctionnement {
        display: flex;
        flex-wrap: wrap;
    }
    
    .fonction {
        width: 40%;
    }
    
    h3 {
        width: 100%;
    }
    
    #restaurants {
        display: flex;
        flex-wrap: wrap;
    }
    
    .resto {
        width: 45%;
    }
    
    }