
$fond: #f2f2f2;
$primaire: #9356DC;
$secondaire: #FF79DA;
$green: #abd0bc;

%shadow {
    border-radius: 1.6em;
    box-shadow: 1px 4px 8px #ababab;
}

%plat-menu {
    transition: 1s;
    animation: slidedown .6s;
    display: flex;
    padding: 0.6em 1em;
    position: relative;
    margin: 1.3em auto;
}

@keyframes slidedown {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes validation{
    0% {
        transform: translateX(9999px);
    }
    100% {
        transform: translateX(0);
    }
}

.logo {
    font-family: Shrikhand;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 4px #ababab;
    display: inline-block;
}


body {
    background-color: $fond;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
}

.localisation {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: hsl(0deg 0% 90%);
}

.fa, .fas {
    margin-block: auto;
    margin-right: 6%;
}

.reservation {
    width: 80%;
    margin: 3em auto;
    text-align: center;
    p {
        font-weight: 100;
    }
}



.btn {
    width: fit-content;
    margin: 2em auto;
    background: linear-gradient(to bottom right,$secondaire, $primaire);
    padding: 0.1em 1em;
    @extend %shadow;
    p {
        color: white;
        font-weight: 400;
    }
}

a {
    text-decoration: none;
}

.fonctionnement {
    background-color: white;
    padding: 1em;
}

.fonction {
    @extend %shadow;
    background-color: $fond;
    display: flex;
    padding: 0.9em 0em 0.9em 2em;
    width: 86%;
    margin: 1.5em auto;
    position: relative;

    &:hover {
    background-color: #fff2ff;
    }

    .cercle {
    background-color: $primaire;
    position: absolute;
    left: -11px;
    top: 30px;
    border-radius: 1em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    text-align: center;
    color: white;
    }
}

.restaurants {
    padding: 1em;
}

.resto {
    width: 100%;
    margin: 1em auto 2em;
    @extend %shadow;
    overflow: hidden;

    .resto-image {
        width: 100%;
        top: -32px;
        position: relative;
        margin-bottom: -1.5em;
    }
    img {
        width: 100%;
        height: 16em;
        object-fit: cover;
    }

    .description {
        margin: 0em 1em;
        position: relative;
        top: 13px;
        p {
            margin: 0.2em;
            font-weight: 100;
        }
    }
    i {
        position: relative;
        bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 1em;
        font-size: 1.4em;
    }

    .btn-new {
        position: absolute;
        background: $green;
        top: 4em;
        right: 1em;
        padding: 0.7em;   
        color: darken($green, 40);
        font-size: 0.8em;     
    }
}

footer {
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 1em;

    .logo {
        text-align: left;
        font-size: 0.7em;
        box-shadow: none;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0px;
    }

    li {
        margin: 0.3em;
    }

    .fa-hands-helping {
        margin-right: 3%;
    }
}

    /* ---------------------------------menu a la française---------------------------------*/

.fond-menu {
    width: 100%;
    margin-bottom: -30px;
}

.container {
    border-radius: 33px;
    background: $fond;
    overflow: overlay;
    padding: 1em;
}

.titre-menu {
    font-family: Shrikhand;
    display: flex;
    justify-content: space-between;

    .fa-heart {
        margin-block: auto;
        margin-right: 6%;    }
}

.plats {
    font-variant-caps: all-petite-caps;
    font-size: 1.6em;
    font-weight: 100;
}

.ligne {
    width: 3em;
    border-bottom: 3px solid $green;
    margin: 7px 0px 20px;
}

.plat--05s {
    @extend %shadow;
    @extend %plat-menu;
    animation-delay: .05s;
}

.plat--1s {
    @extend %shadow;
    @extend %plat-menu;
    animation-delay: .1s;
}

.plat--2s {
    @extend %shadow;
    @extend %plat-menu;
    animation-delay: .2s;

}


 .description {
        width: 100%;

        p {
            font-weight: 100;
            margin: 0.2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        strong {
            font-size: 1.2em;
            font-weight: 500;
        }
    }

.prix {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

.validation {
    background-color: aqua;
    width: auto;
    display: flex;
    overflow: hidden;
    transition: transform 4000ms;
    transform: translateX(100px);
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: right;
}




.plateau-test {
    @extend %shadow;
    display: flex;
    padding: 0.6em 1em;
    margin: 1.3em auto;
    overflow: hidden;

    p {
        font-weight: 100;
        margin: 0.2em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .prix {
        font-size: 1.1em;
        font-weight: 500;
    }

    & :hover + .validation {
        transform: translateX(0);
        }
}



.plat-test {
    display: flex;
    flex-direction: column;
    width: 82%;
}

.plat-prix {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
