.resto, .fonction, .btn, .commande--2s, .commande--1s, .commande {
  border-radius: 1.6em;
  box-shadow: 1px 4px 8px #ababab;
}

@keyframes slidedown {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anime {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes anime-commande {
  from {
    width: 100%;
  }
  to {
    width: 75%;
  }
}
@keyframes fonction-color {
  from {
    background-color: #f2f2f2;
  }
  to {
    background-color: #fff2ff;
  }
}
.loader {
  text-align: center;
  text-transform: uppercase;
  font-family: "Shrikhand", sans-serif;
  font-size: 4.6875em;
  color: transparent;
  letter-spacing: 0.01em;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  animation: show-loader 4s forwards;
  position: fixed;
  top: -1em;
  padding-top: 2em;
}

.loader span {
  margin: 1em;
  text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
  animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}
.loader span:nth-child(2) {
  animation-delay: 0.15s;
}

.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes show-loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    z-index: 55;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.fa-arrow-left {
  position: absolute;
  left: 34px;
  top: 34px;
  font-size: 1.2em;
}

.fond-menu {
  width: 100%;
  margin-bottom: -30px;
  object-fit: cover;
  height: 14em;
}

.container {
  border-radius: 33px;
  background: #f2f2f2;
  position: relative;
  padding: 1em;
}

.titre-menu {
  font-family: Shrikhand;
  display: flex;
  justify-content: space-between;
}
.titre-menu .fa-heart {
  display: flex;
  align-items: center;
  margin-right: 6%;
}

.ligne {
  width: 3em;
  border-bottom: 3px solid #bfdfd8;
  margin: 7px 0px 20px;
}

.commande {
  display: flex;
  margin: 1.3em auto;
  overflow: hidden;
}
.commande .fa-check-circle {
  font-size: 1.5em;
  display: flex;
  margin: auto;
  color: white;
  align-items: center;
  transform: rotate(0turn);
}
.commande:hover .validation {
  animation: anime 0.6s;
  animation-fill-mode: forwards;
}
.commande:hover .commande__plat {
  animation: anime-commande 0.6s;
  animation-fill-mode: forwards;
}
.commande:hover .fa-check-circle {
  transform: rotate(-1turn);
  transition: transform 0.6s ease-in-out;
}
.commande p {
  font-weight: 100;
  margin: 0.4em 0em 0.2em 0.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.commande .prix {
  font-size: 1.1em;
  display: flex;
  align-items: flex-end;
  margin: 0.8em;
  font-weight: bold;
}

.commande--05s {
  animation: slidedown 1.3s;
  animation-delay: 0.05s;
}

.commande--1s {
  animation: slidedown 1.3s;
  animation-delay: 0.1s;
}

.commande--2s {
  animation: slidedown 1.3s;
  animation-delay: 0.2s;
}

.commande__plat {
  width: 100%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plat {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.validation {
  background-color: #bfdfd8;
  display: flex;
  width: 0px;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .titre-menu {
    width: 19em;
    margin: auto;
  }

  .entree {
    width: 52%;
    margin: auto;
  }

  .plat-principal {
    width: 52%;
    margin: auto;
  }

  .dessert {
    width: 52%;
    margin: auto;
  }

  .plats, .ligne {
    width: 52%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .titre-menu {
    width: 19em;
    margin: auto;
  }

  .entree {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }

  .plat-principal {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .dessert {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .commande {
    width: 31%;
  }

  .plats, .ligne {
    width: 85%;
    margin: auto;
  }
}
.logo {
  font-family: Shrikhand;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 4px #ababab;
  display: inline-block;
}

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 1em;
}
footer .logo {
  text-align: left;
  font-size: 0.7em;
  box-shadow: none;
}
footer ul {
  list-style-type: none;
  padding: 0px;
}
footer li {
  margin: 0.3em;
  color: white;
}
footer .fa-hands-helping {
  margin-right: 1em;
}

body {
  background-color: #f2f2f2;
  font-family: "Roboto";
  margin: auto;
}

h3 {
  font-size: 1.5em;
}

.fa, .fas {
  margin-right: 1.4em;
  align-self: center;
}

a {
  color: black;
}

.localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e6e6e6;
}

.reservation {
  width: 80%;
  margin: 3em auto;
  text-align: center;
}
.reservation p {
  font-weight: 100;
}

.btn {
  width: fit-content;
  width: -moz-fit-content;
  margin: 2em auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 0.1em 1em;
  transform: scale(1);
  transition-duration: 0.4s;
}
.btn p {
  color: white;
  font-weight: 400;
}
.btn:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.fonctionnement {
  background-color: white;
  padding: 1em;
}

.fonction {
  background-color: #f2f2f2;
  display: flex;
  padding: 0.9em 0em 0.9em 2em;
  width: 86%;
  margin: 1.5em auto;
  position: relative;
}
.fonction:hover {
  animation: fonction-color 0.5s;
  animation-fill-mode: forwards;
  box-shadow: 1px 4px 8px #929292;
}
.fonction .cercle {
  background-color: #9356DC;
  position: absolute;
  left: -11px;
  top: 30px;
  border-radius: 1em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5em;
  text-align: center;
  color: white;
}

#restaurants {
  padding: 1em;
}

.resto {
  width: 100%;
  margin: 1em auto 2em;
  overflow: hidden;
}
.resto .resto-image {
  width: 100%;
  top: -32px;
  position: relative;
  margin-bottom: -1.5em;
}
.resto img {
  width: 100%;
  height: 16em;
  object-fit: cover;
}
.resto .description {
  margin: 0em 1em;
  position: relative;
  top: 13px;
}
.resto .description p {
  margin: 0.2em;
  font-weight: 100;
}
.resto i {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1em;
  font-size: 1.4em;
}
.resto .btn-new {
  position: absolute;
  background: #bfdfd8;
  top: 4em;
  right: 1em;
  padding: 0.7em;
  color: #468c7d;
  font-size: 0.8em;
}

.fa-heart {
  -webkit-background-clip: text;
  transition: 200ms ease-in;
  color: white;
  -webkit-text-stroke: 2px black;
}
.fa-heart:hover {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-text-stroke: 0px Black;
}

@media screen and (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
  }

  .fonction {
    width: 25%;
  }

  h3 {
    width: 100%;
  }

  #restaurants {
    display: flex;
    flex-wrap: wrap;
  }

  .resto {
    width: 45%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
  }

  .fonction {
    width: 40%;
  }

  h3 {
    width: 100%;
  }

  #restaurants {
    display: flex;
    flex-wrap: wrap;
  }

  .resto {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
